<div class="form-style form-style-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-style-title">
                    Connect EOS Account
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>
                    <a href="#">Click here</a> if you don't have an EOS account.
                </p>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="id_eos_public_key">EOS Public Key</label>
                        <input type="text" class="form-control" id="id_eos_public_key" formControlName="eos_public_key" required placeholder="EOS public key">
                    </div>
                    <div class="form-group">
                        <label for="id_eos_account">EOS Account</label>
                        <input type="text" class="form-control" id="id_eos_account" formControlName="eos_account" required placeholder="EOS account">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" (submit)="submit()">CONNECT</button>
                </form>
            </div>
        </div>
    </div>
</div>