<div class="form-style form-style-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-style-title">
                    404 - Not found...
                </div>
            </div>
        </div>
    </div>
</div>