<div class="dashboard-style">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div *ngIf="profile">
                    <div class="row dashboard-verify" *ngIf="!profile.is_verify && !beginVerify">
                        <div class="col-9">
                            <div class="dashboard-verify-text" *ngIf="config['verify_message']">{{ config.verify_message }}</div>
                        </div>
                        <div class="col-3">
                            <button type="button" class="btn btn-verify btn-block" (click)="openKycVerifyModal()">VERIFY</button>
                        </div>
                    </div>
                    <br *ngIf="!profile.is_verify && !beginVerify" />
                </div>
                <div class="row dashboard-sharedrop">
                    <div class="col-12 dashboard-sharedrop-pad">
                        <div class="dashboard-inner-title">
                            Sharedrop
                        </div>
                    </div>
                    <div class="col-6 dashboard-sharedrop-pad" *ngIf="profile">
                        <span class="dashboard-label">KYC Status:</span>

                        <span class="dashboard-value" *ngIf="profile.is_verify">Verified</span>
                        <span class="dashboard-value" *ngIf="!profile.is_verify">Not Verified</span>
                    </div>
                    <div class="col-6 dashboard-sharedrop-pad">
                        <span class="dashboard-label">Earned:</span>
                        <span class="dashboard-value"> 30000</span>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row dashboard-row">
                    <div class="col-12">
                        <div class="dashboard-questions-text"
                             *ngIf="config['question_message']" [innerHtml]="config['question_message']"></div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row dashboard-row" *ngIf="documentList.length">
                    <div class="col-12">
                        <div class="dashboard-inner-title">
                            Documentation
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="col-3" *ngFor="let document of documentList">
                        <div class="dashboard-doc">
                            <i class="fas fa-file-alt"></i>

                            <a class="dashboard-value" [href]="document.file" target="_blank">
                                {{ document.name }}
                            </a>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <!--div class="row justify-content-between dashboard-row">
                    <div class="col-10">
                        <div class="dashboard-inner-title">
                            Latest News
                        </div>
                    </div>
                    <div class="col-2">
                        <a href="#" class="dashboard-link">
                            See all news
                        </a>
                    </div>
                </div>
                <br>
                <div class="row dashboard-row">
                    <div class="col-12">
                        <div class="dashboard-news">
                            <img src="https://steemitimages.com/DQmX3UYjuRAq9xGjeDd7uqijy6AqhTkYNSyLYXFF3kDbmst/Latest-News.jpg" class="dashboard-news-img">
                            <div class="dashboard-news-text">
                                Now things are starting to snowball
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="dashboard-news">
                            <img src="https://steemitimages.com/DQmX3UYjuRAq9xGjeDd7uqijy6AqhTkYNSyLYXFF3kDbmst/Latest-News.jpg" class="dashboard-news-img">
                            <div class="dashboard-news-text">
                                Compliant to the core: How WORBLI is building its integrated financial ecosystem
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="dashboard-news">
                            <img src="https://steemitimages.com/DQmX3UYjuRAq9xGjeDd7uqijy6AqhTkYNSyLYXFF3kDbmst/Latest-News.jpg" class="dashboard-news-img">
                            <div class="dashboard-news-text">
                                Domenic Thomas CEO Worbli Keynote @ EOS London May 1st 2018
                            </div>
                        </div>
                    </div>
                </div-->
            </div>
        </div>
    </div>
</div>