{% extends "templated_email/base.html" %}

{% block subject %}Please confirm your sign-up on Worbli{% endblock %}

{% block plain_content %}
    Please click the link below to confirm your Email for your Worbli account.
    {{ request.scheme }}://{{ request.get_host }}/auth/sign-up/complete?sign_up_code={{ user.sign_up_code }}
{% endblock %}

{% block html_content %}
    <tr>
        <td class="td-content-caption" style="padding: 0;margin: 0;font-family: sans-serif;color: #010101;font-size: 18px;line-height: 80px;mso-line-height-rule: exactly;font-style: normal;font-weight: 700;letter-spacing: 0.18px;text-align: left;">
            Please confirm your sign-up on Worbli
        </td>
    </tr>
    <tr>
        <td class="td-content-text" style="padding: 0;margin: 0;padding-right: 3%;font-family: sans-serif;color: #5d5d5d;font-size: 16px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 300;letter-spacing: 0.16px;text-align: left;">
            <p>
                Please click the link below to confirm your Email for your Worbli account.
                <a href="{{ request.scheme }}://{{ request.get_host }}/auth/sign-up/complete?sign_up_code={{ user.sign_up_code }}">the link</a>
            </p>
        </td>
    </tr>
{% endblock %}