{% extends "templated_email/base.html" %}

{% block subject %}Your password was restored{% endblock %}

{% block plain_content %}
    Your password was restored.
    Password: {{ password }}
{% endblock %}

{% block html_content %}
    <tr>
        <td class="td-content-caption" style="padding: 0;margin: 0;font-family: sans-serif;color: #010101;font-size: 18px;line-height: 80px;mso-line-height-rule: exactly;font-style: normal;font-weight: 700;letter-spacing: 0.18px;text-align: left;">
            Your password was restored
        </td>
    </tr>
    <tr>
        <td class="td-content-text" style="padding: 0;margin: 0;padding-right: 3%;font-family: sans-serif;color: #5d5d5d;font-size: 16px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 300;letter-spacing: 0.16px;text-align: left;">
            <p>
                Password: {{ password }}
            </p>
        </td>
    </tr>
{% endblock %}