{% extends "templated_email/base.html" %}

{% block subject %}You was restored your password{% endblock %}

{% block plain_content %}
    You was restored your password. You have 5 days to complete from the link:
    {{ request.scheme }}://{{ request.get_host }}/auth/password/restore/complete/?restore_password_code={{ user.restore_password_code }}
{% endblock %}

{% block html_content %}
    <tr>
        <td class="td-content-caption" style="padding: 0;margin: 0;font-family: sans-serif;color: #010101;font-size: 18px;line-height: 80px;mso-line-height-rule: exactly;font-style: normal;font-weight: 700;letter-spacing: 0.18px;text-align: left;">
            You was restored your password
        </td>
    </tr>
    <tr>
        <td class="td-content-text" style="padding: 0;margin: 0;padding-right: 3%;font-family: sans-serif;color: #5d5d5d;font-size: 16px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 300;letter-spacing: 0.16px;text-align: left;">
            <p>
                You have 3 days to complete from the link
                <a href="{{ request.scheme }}://{{ request.get_host }}/auth/password/restore/?restore_password_code={{ user.restore_password_code }}">the link</a>
            </p>
        </td>
    </tr>
{% endblock %}