{% load static %}

{% block subject %}{% endblock %}

{% block plain_content %}
{% endblock %}

{% block html %}
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <style>
            body {
                background-color: #ffffff;
                padding: 0;
                margin: 0 auto;
            }

            table {
                max-width: 600px;
                min-width: 320px;
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
                margin: 0 auto;
                padding: 0;
                mso-table-lspace: 0;
                mso-table-rspace: 0;
            }

            td {
                padding: 0;
                margin: 0;
            }

            .wrap-table-email,
            .table-content {
                max-width: 600px;
                min-width: 210px;
                width: 100%;
                background-color: #ffffff;
            }

            img {
                outline: none;
                -ms-interpolation-mode: bicubic;
                display: block;
                margin: 0 auto;
                padding: 0;
            }

            a {
                text-decoration: none;
            }

            .header-caption {
                font-family: sans-serif;
                color: #ffffff;
                font-size: 14px;
                line-height: 30px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.14px;
                text-align: center;
            }

            .wrap-td-content {
                padding: 2% 15% 2% 15%;
            }

            .td-content-caption {
                font-family: sans-serif;
                color: #010101;
                font-size: 18px;
                line-height: 80px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.18px;
                text-align: left;
            }

            .td-content-text {
                padding-right: 3%;
                font-family: sans-serif;
                color: #5d5d5d;
                font-size: 16px;
                line-height: 22px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.16px;
                text-align: left;
            }

            .td-content-sign {
                font-family: sans-serif;
                color: #5d5d5d;
                font-size: 16px;
                line-height: 50px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.16px;
                text-align: left;
            }

            .td-content-button {
                text-align: left;
                padding: 12% 0;
            }

            .content-button {
                background-color: #0498f8;
                font-family: sans-serif;
                color: #ffffff;
                font-size: 15px;
                line-height: 22px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: bold;
                letter-spacing: normal;
                text-align: center;
                padding: 15px 20%;
            }

            .wrap-td-footer {
                padding: 3% 0;
                background-color: #3a4d82;
            }

            .table-footer {
                color: #ffffff;
            }

            .table-social-buttons {
                max-width: 10px;
                text-align: center;
            }

            .td-social-buttons a {
                color: #ffffff;
                text-align: center;
            }

            .td-social-title {
                font-family: sans-serif;
                color: #ffffff;
                font-size: 14px;
                line-height: 22px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: 300;
                letter-spacing: 0.14px;
                text-align: center;
                padding: 15px 5px;
            }

            .td-social-link a {
                font-family: sans-serif;
                color: #ffffff;
                font-size: 14px;
                line-height: 22px;
                mso-line-height-rule: exactly;
                font-style: normal;
                font-weight: 400;
                letter-spacing: 0.14px;
                text-align: center;
                padding: 15px 5px;
                text-decoration: underline;
            }

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body style="background-color: #ffffff;padding: 0;margin: 0 auto;">
    <table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" class="wrap-table-email" style="max-width: 600px;min-width: 210px;width: 100%;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;mso-table-lspace: 0;mso-table-rspace: 0;background-color: #ffffff;">
        <tr>
            <td class="wrap-td-content" style="padding: 2% 15% 2% 15%;margin: 0;">
                <table align="center" border="0" bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" class="table-content" style="max-width: 600px;min-width: 210px;width: 100%;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;mso-table-lspace: 0;mso-table-rspace: 0;background-color: #ffffff;">
                    <tbody>
                        {% block html_content %}
                        {% endblock %}
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td class="wrap-td-footer" style="padding: 3% 0;margin: 0;background-color: #3a4d82;">
                <table align="center" border="0" bgcolor="#3a4d82" cellpadding="0" cellspacing="0" width="100%" class="table-footer" style="max-width: 600px;min-width: 320px;width: 100%;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;mso-table-lspace: 0;mso-table-rspace: 0;color: #ffffff;">
                    <tbody>
                    <tr>
                        <td style="padding: 0;margin: 0;">
                            <table align="center" border="0" bgcolor="#3a4d82" cellpadding="0" cellspacing="0" width="10px" class="table-social-buttons" style="max-width: 10px;min-width: 320px;width: 100%;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;mso-table-lspace: 0;mso-table-rspace: 0;text-align: center;">
                                <tbody>
                                <tr>
                                    <td width="10px" height="25px" class="td-social-buttons" style="padding: 0;margin: 0;">
                                        <a target="_blank" class="social-buttons" href="https://www.facebook.com/" style="text-decoration: none;color: #ffffff;text-align: center;">
                                            <i class="fa fa-facebook-square fa-2x" style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 2em;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;"></i>
                                        </a>
                                    </td>
                                    <td width="10px" height="25px" class="td-social-buttons" style="padding: 0;margin: 0;">
                                        <a target="_blank" class="social-buttons" href="https://twitter.com/" style="text-decoration: none;color: #ffffff;text-align: center;">
                                            <i class="fa fa-twitter-square fa-2x" style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 2em;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;"></i>
                                        </a>
                                    </td>
                                    <td width="10px" height="25px" class="td-social-buttons" style="padding: 0;margin: 0;">
                                        <a target="_blank" class="social-buttons" href="https://www.instagram.com/" style="text-decoration: none;color: #ffffff;text-align: center;">
                                            <i class="fa fa-instagram fa-2x" style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;font-size: 2em;text-rendering: auto;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0;margin: 0;">
                            <table align="center" border="0" bgcolor="#3a4d82" cellpadding="0" cellspacing="0" width="100%" class="table-social-title" style="max-width: 600px;min-width: 320px;width: 100%;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;mso-table-lspace: 0;mso-table-rspace: 0;">
                                <tbody>
                                <tr>
                                    <td align="center" class="td-social-title" style="padding: 15px 5px;margin: 0;font-family: sans-serif;color: #ffffff;font-size: 14px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 300;letter-spacing: 0.14px;text-align: center;">
                                        <p>©2018 Worbli</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0;margin: 0;">
                            <table align="center" border="0" bgcolor="#3a4d82" cellpadding="0" cellspacing="0" width="100%" class="table-social-link" style="max-width: 600px;min-width: 320px;width: 100%;border-collapse: collapse;border-spacing: 0;margin: 0 auto;padding: 0;mso-table-lspace: 0;mso-table-rspace: 0;">
                                <tbody>
                                <tr>
                                    <td align="center" class="td-social-link" style="padding: 0;margin: 0;">
                                        <a href="#" style="text-decoration: underline;font-family: sans-serif;color: #ffffff;font-size: 14px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 400;letter-spacing: 0.14px;text-align: center;padding: 15px 5px;">Privacy Policy</a> | <a href="#" style="text-decoration: underline;font-family: sans-serif;color: #ffffff;font-size: 14px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 400;letter-spacing: 0.14px;text-align: center;padding: 15px 5px;">Unsubscribe</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

    </table>
    </body>
    </html>
{% endblock %}
