{% extends "templated_email/base.html" %}

{% load i18n %}

{% block subject %}KYC status{% endblock %}

{% block plain_content %}
    {% spaceless %}
        {% if user.is_givenname_verify %}
            - {% trans "Givenname was confirmed." %}
        {% else %}
            - {% blocktrans with message=message.givenname %}
                Givenname was not confirmed. Reason: "{{ message }}".
            {% endblocktrans %}
        {% endif %}
    {% endspaceless %}

    {% spaceless %}
        {% if user.is_surname_verify %}
            - {% trans "Surname was confirmed." %}
        {% else %}
            - {% blocktrans with message=message.surname %}
                Surname was not confirmed. Reason: "{{ message }}".
            {% endblocktrans %}
        {% endif %}
    {% endspaceless %}

    {% spaceless %}
        {% if user.is_passportno_verify %}
            - {% trans "Passport number was confirmed." %}
        {% else %}
            - {% blocktrans with message=message.passportno %}
                Passport number was not confirmed. Reason: "{{ message }}".
            {% endblocktrans %}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block html_content %}
    <tr>
        <td class="td-content-caption" style="padding: 0;margin: 0;font-family: sans-serif;color: #010101;font-size: 18px;line-height: 80px;mso-line-height-rule: exactly;font-style: normal;font-weight: 700;letter-spacing: 0.18px;text-align: left;">
            KYC status
        </td>
    </tr>
    <tr>
        <td class="td-content-text" style="padding: 0;margin: 0;padding-right: 3%;font-family: sans-serif;color: #5d5d5d;font-size: 16px;line-height: 22px;mso-line-height-rule: exactly;font-style: normal;font-weight: 300;letter-spacing: 0.16px;text-align: left;">
            <ul>
                <li>
                    {% spaceless %}
                        {% if user.is_givenname_verify %}
                            {% trans "Givenname was confirmed." %}
                        {% else %}
                            {% blocktrans with message=message.givenname %}
                                Givenname was not confirmed. Reason: "{{ message }}".
                            {% endblocktrans %}
                        {% endif %}
                    {% endspaceless %}
                </li>

                <li>
                    {% spaceless %}
                        {% if user.is_surname_verify %}
                            {% trans "Surname was confirmed." %}
                        {% else %}
                            {% blocktrans with message=message.surname %}
                                Surname was not confirmed. Reason: "{{ message }}".
                            {% endblocktrans %}
                        {% endif %}
                    {% endspaceless %}
                </li>

                <li>
                    {% spaceless %}
                        {% if user.is_passportno_verify %}
                            {% trans "Passport number was confirmed." %}
                        {% else %}
                            {% blocktrans with message=message.passportno %}
                                Passport number was not confirmed. Reason: "{{ message }}".
                            {% endblocktrans %}
                        {% endif %}
                    {% endspaceless %}
                </li>
            </ul>
        </td>
    </tr>
{% endblock %}