<div class="roadmap-style">
    <div class="row justify-content-center">
        <div class="col">
            <div class="text-center">
                <span class="title-text">Our Road Map</span>
            </div>
        </div>
    </div>
    <div class="roadmap-list">
        <div class="row roadmap-item">
            <div class="roadmap-item-circle">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-4">
                <div class="roadmap-phase">
                    Phase 1
                </div>
                <div class="roadmap-quarter">
                    2nd Quarter 2018
                </div>
            </div>
            <div class="col">
                <ul class="roadmap-text">
                    <li>Help launch EOS main net in preparation for launching WORBLI’s Network</li>
                    <li>Seek additional funding through private investment sources</li>
                    <li>Finalize strategic, marketing and operational plans</li>
                    <li>Complete White Paper & Business Plan</li>
                </ul>
            </div>
        </div>
        <div class="row roadmap-item">
            <div class="roadmap-item-circle">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-4">
                <div class="roadmap-phase">
                    Phase 2
                </div>
                <div class="roadmap-quarter">
                    3rd Quarter 2018
                </div>
            </div>
            <div class="col">
                <ul class="roadmap-text">
                    <li>Recruit and hire additional technical, business and administrative team members</li>
                    <li>Commence Network Launch and AirDrop marketing and content campaigns</li>
                    <li>Launch WORBLI, the EOS Friendly (soft) Fork</li>
                    <li>Conduct WORBLI Network AirDrop</li>
                    <li>List WORBLI’s (WBI) Token on multiple digital asset exchanges</li>
                    <li>Seek additional funding to support WORBLI's Network and the development of the Gamma Bank MVP</li>
                    <li>Confirm Block Producers & Block Producer Back Ups</li>
                </ul>
            </div>
        </div>
        <div class="row roadmap-item">
            <div class="roadmap-item-circle">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-4">
                <div class="roadmap-phase">
                    Phase 3
                </div>
                <div class="roadmap-quarter">
                    4rd Quarter 2018
                </div>
            </div>
            <div class="col">
                <ul class="roadmap-text">
                    <li>Add additional Block Producers to Worbli Network</li>
                    <li>Add AML/KYC verification to WORBLI user accounts.</li>
                    <li>Publish WORBLI Network governance processes and engage WORBLI community in ongoing governance efforts</li>
                    <li>Pursue additional strategic partnerships with digital currency exchanges</li>
                    <li>Facilitate the launch of dApps on WORBLI</li>
                    <li>Build Gamma Bank MVP</li>
                    <li>Incorporate WORBLI Foundation in favorable regulatory environment (Switzerland, Bermuda, Malta, Panama, Singapore)</li>
                    <li>Commence lobbying efforts and developing relationships with US governance bodies(SEC, IRS, Federal Reserve, OCC)</li>
                </ul>
            </div>
        </div>
        <div class="row roadmap-item">
            <div class="roadmap-item-circle">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-4">
                <div class="roadmap-phase">
                    Phase 4
                </div>
                <div class="roadmap-quarter">
                    2019 onwards
                </div>
            </div>
            <div class="col">
                <ul class="roadmap-text">
                    <li>Test Gamma Bank MVP</li>
                    <li>Continue recruiting and hiring for WORBLI team</li>
                    <li>Hire world class executive team to develop and launch Gamma Bank</li>
                    <li>Secure global correspondent banking relationships</li>
                    <li>Begin development and support of additional applications to be developed and deployed on WORBLI</li>
                    <li>Develop long-term strategic, financial and marketing plans</li>
                    <li>Launch Gamma Bank in global markets (Africa, Latin America, Australia and Europe)</li>
                    <li>Ramp up global marketing efforts</li>
                    <li>Develop correspondent banking relationships in the US</li>
                </ul>
            </div>
        </div>
    </div>
</div>