<div class="team-style">
    <div class="row justify-content-center">
        <div class="col">
            <div class="text-center">
                    <span class="title-text">
                        WORBLI
                    </span>
            </div>
            <div class="text-center">
                    <span class="title-text">
                        Team & Advisors
                    </span>
            </div>
        </div>
    </div>
    <div *ngFor="let departament of departamentList">
        <div class="row" *ngIf="departament['employees'].length">
            <div class="col">
                <div class="team-title">
                    {{ departament.name }}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="departament['employees'].length">
            <div class="col-md-6 col-lg-4 col-xl-3" *ngFor="let employee of departament['employees']">
                <div class="team-item">
                    <img [src]="employee.image" class="rounded-circle team-item-photo">
                    <span class="team-item-name">{{ employee.name }}</span>
                    <span class="team-item-position" *ngIf="employee.position">{{ employee.position }}</span>
                    <a *ngIf="employee.linkedin" [href]="employee['linkedin']" class="team-item-social" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>