<div class="content" [ngClass]="{'inverse-style': router.url === '/'}">
    <nav class="navbar navbar-expand-lg navbar-light navbar-style fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="/"></a>
        <div class="collapse navbar-collapse justify-content-center navbar-menu" id="navbarTogglerDemo03">
            <ul class="navbar-nav">
                <li class="nav-item" [ngClass]="{'active': router.url === '/'}">
                    <a class="nav-link" routerLink="/">MAIN</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/about" class="nav-link">ABOUT US</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/team" class="nav-link">TEAM</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/roadmap" class="nav-link">ROADMAP</a>
                </li>
                <li class="nav-item" routerLinkActive="active" *ngIf="isAuthService.isAuth()">
                    <a routerLink="/user/dashboard" class="nav-link">DASHBOARD</a>
                </li>
            </ul>
        </div>
        <a class="nav-link signin-link" href="#" (click)="openSignInModal(); false" *ngIf="!isAuthService.isAuth()">SIGN IN</a>
        <button type="button" class="btn btn-primary" (click)="openSignUpPopup(); false" *ngIf="!isAuthService.isAuth()">JOIN NOW</button>

        <div class="dropdown" *ngIf="isAuthService.isAuth()">
            <div href="#" class="user-menu-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/img/i_user.svg" />
                <i class="fas fa-chevron-down"></i>
            </div>
            <div class="dropdown-menu dropdown-menu-right user-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item user-menu-item" href="#" routerLinkActive="active" routerLink="/user/dashboard">
                    Dashboard
                </a>
                <a class="dropdown-item user-menu-item" href="#" routerLinkActive="active" routerLink="/user/settings">
                    Account Settings
                </a>
                <a class="dropdown-item user-menu-item" href="#" routerLinkActive="active" routerLink="/user/change-password">
                    Change password
                </a>
                <a class="dropdown-item user-menu-item" href="#" routerLinkActive="active" routerLink="/user/eos-account">
                    EOS Account
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item user-menu-item" href="#" (click)="signOut(); false">
                    Sign Out <img src="assets/img/icn-exit.svg" />
                </a>
            </div>
        </div>
    </nav>

    <div class="outer-alerts">
        <ngb-alert *ngFor="let alert of alerts" [type]="getAlertType(alert)" (close)="removeAlert(alert)">{{ alert.message }}</ngb-alert>
    </div>

    <router-outlet></router-outlet>

    <footer class="container-fluid footer-style">
        <div class="row">
            <div class="col">
                <span class="footer-text">
                    © 2018 Worbli Pty Ltd. All rights reserved.​​​​​​
                </span>
            </div>
            <div class="col-2">
                <a href="mailto:hello@worbli.io" class="footer-link">hello@worbli.io</a>
            </div>
            <div class="col-2">
                <div class="footer-text">
                    5865 Neal Ave N Ste 175
                </div>
                <div class="footer-text">
                    Stillwater, MN 55082
                </div>
            </div>
            <div class="col">
                <div class="footer-social">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-telegram-plane"></i></a>
                    <a href="#"><i class="fab fa-medium"></i></a>
                    <a href="#"><i class="fab fa-youtube-square"></i></a>
                </div>
            </div>
        </div>
    </footer>
</div>