<div class="main-style-bg">
    <div class="main-style">
        <div class="row justify-content-center">
            <div class="col">
                <div>
                    <span class="title-text">
                        {{ homeConfig['main_title'] || '' }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-7">
                <div class="main-text">
                    {{ homeConfig['main_text'] || '' }}
                </div>
                <div class="main-docs">
                    <span *ngFor="let document of documentList">
                        <a class="main-doc" *ngIf="document.type == 'file'" [href]="document.file" target="_blank">
                            <i class="fas fa-file-alt"></i> {{ document.name }}
                        </a>
                        <a class="main-doc" *ngIf="document.type == 'link'" [href]="document.link" target="_blank">
                            <i class="fas fa-file-alt"></i> {{ document.name }}
                        </a>
                    </span>
                </div>
                <div class="embed-responsive embed-responsive-16by9 main-video">
                    <iframe src="https://www.youtube.com/embed/LCauhHcWRgI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-5" *ngIf="!isAuthService.isAuth()">
                <form [formGroup]="form" (ngSubmit)="openSignUpPopup()">
                    <div class="main-form">
                        <div class="form-group">
                            <div class="text-uppercase main-form-title">
                                Join the next generation
                            </div>
                            <div class="main-form-title">
                                Financial Services Network
                            </div>
                            <div class="main-form-content">
                                <label for="exampleInputEmail1">Your Email Address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp"
                                       placeholder="Enter email"
                                       formControlName="email" required />
                                <small id="emailHelp" class="form-text text-muted">
                                    By registering you agree to the Terms and Conditions and opt-in to marketing communications
                                </small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">JOIN NOW</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <img src="assets/img/illustration-x2.png" class="img-fluid">
    </div>
</div>
