$input-height: 50px;

@import "~bootstrap/scss/bootstrap";

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UNirkOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOX-hpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOVuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXuhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXehpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOXOhpKKSTj5PW.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN8rsOUuhpKKSTjw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$worbli-primary-color: #1A1A75;
$worbli-third-color: #A9B7CB;
$worbli-main-primary-color: #43507B;
$worbli-primary-color-hover: #3F42BB;
$worbli-red-color: #F4416C;
$worbli-primary-text-color: #29275A;
$worbli-title-border-color: #98C9A2;
$worbli-grey-text-color: #586270;
$worbli-item-color: #F1F2F6;
$worbli-light-hover-color: #BCC5E2;
$worbli-grey-social-color: #798392;
$worbli-hover-color: #7D89B2;
$worbli-phase-color: #0D2039;
$worbli-main-color: #061649;
$worbli-social-color: #828CAE;

.content {
    font-family: 'Lato';
    background-color: #ffffff;
    padding-top: 90px;
    min-height: 100vh;
}

.inverse-style {

    .user-menu-link {
        color: #ffffff;
    }

    .user-menu {
        background-color: #ffffff;
    }

    .user-menu-item {
        font-size: 14px;
        color: $worbli-primary-color;
    }

    .navbar-style {
        background-color: $worbli-main-color;
        border-bottom: 1px solid rgba(188, 197, 226, 0.2);

        .navbar-brand {
            display: inline-block;
            width: 120px;
            height: 30px;
            background: url("assets/img/logo-on-white-bg-x2.png") no-repeat;
            background-size: 120px 30px;
        }

        .btn-primary {
            @include button-variant($worbli-main-primary-color, $worbli-main-primary-color, $worbli-primary-color-hover, $worbli-primary-color-hover);
            @include button-size(15px, 30px, 14px, 20px, 4px);
            font-weight: 300;
        }

        .signin-link {
            color: #ffffff;
            &:hover {
                color: $worbli-hover-color;
            }
        }

        .nav-item {
            &.active {
                a {
                    color: #ffffff;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
            a {
                color: $worbli-hover-color;
                &:hover {
                    color: #ffffff;
                }
            }
        }

    }

    .footer-style {
        background-color: $worbli-main-color;
        border-top: 1px solid rgba(188, 197, 226, 0.2);

        .footer-text {
            color: $worbli-light-hover-color;
        }

        .footer-link {
            color: #ffffff;
            &:hover {
                color: $worbli-light-hover-color;
            }
        }

        .footer-social {
            i {
                color: rgba($worbli-social-color, 0.5);
                &:hover {
                    color: $worbli-light-hover-color;
                }
            }
        }
    }
}

.btn-primary {
    @include button-variant($worbli-primary-color, $worbli-primary-color, $worbli-primary-color-hover, $worbli-primary-color-hover);
    @include button-size(15px, 30px, 14px, 20px, 4px);
    font-family: 'Open Sans';
    font-weight: 700;
}

.btn-third {
    //A9B7CB
    //A9B7CB
    @include button-variant(#ffffff, $worbli-third-color, #ffffff, $worbli-third-color);
    color: $worbli-third-color;
    text-decoration: none;
    @include button-size(15px, 30px, 14px, 20px, 4px);
    font-family: 'Open Sans';
    font-weight: 300;
}

.btn-verify {
    @include button-variant(#474790, #474790, $worbli-primary-color-hover, $worbli-primary-color-hover);
    @include button-size(15px, 30px, 14px, 20px, 4px);
    font-family: 'Open Sans';
    font-weight: 300;
}

.btn-link {
    color: $worbli-primary-color;
    text-decoration: none;
    @include button-size(15px, 30px, 14px, 20px, 4px);
    font-family: 'Open Sans';
    font-weight: 700;
}

.btn-danger {
    @include button-size(15px, 30px, 14px, 20px, 4px);
    font-family: 'Open Sans';
    font-weight: 700;
}

.navbar-style {
    height: 90px;
    padding: 0 75px;
    border-bottom: 1px solid rgba(#BCC5E2, 0.5);
    background-color: #ffffff;
    font-weight: 900;

    .nav-item {

        &.active {
            a {
                color: $worbli-primary-text-color;
                &:hover {
                    color: $worbli-primary-color;
                }
            }
        }
        a {
            color: $worbli-grey-social-color;
            &:hover {
                color: $worbli-primary-text-color;
            }
        }

        .nav-link {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .navbar-menu {
        //margin-left: 120px;
    }

    .navbar-menu-signin {
        margin-left: 120px;
    }

    .navbar-brand {
        display: inline-block;
        width: 120px;
        height: 30px;
        background: url("assets/img/logo-on-dark-bg-x2.png") no-repeat;
        background-size: 120px 30px;
    }

    .signin-link {
        font-size: 14px;
        margin-right: 38px;
        color: $navbar-light-color;
        &:hover {
            color: $navbar-light-hover-color;
        }
    }
}

.main-style-bg {
    background-color: $worbli-main-color;
}

.main-style {
    max-width: 1275px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 75px;

    .title-text {
        color: #ffffff;
        font-family: 'Lato';
        font-size: 60px;
        font-weight: 900;
    }

    .main-content {
        padding: 30px 0;
    }

    .main-text {
        font-size: 20px;
        color: $worbli-light-hover-color;
    }

    .main-docs {

    }

    .main-doc {
        line-height: 30px;
        color: #ffffff;
        display: inline-flex;
        margin: 40px 80px 40px 0;
        font-family: 'Lato';
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;

        i {
            margin-right: 15px;
            font-size: 30px;
            color: $worbli-title-border-color;
            &:hover {
                color: $worbli-title-border-color;
            }
        }
    }

    .main-video {
        max-width: 270px;
    }

    .main-form {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 40px;
    }

    .text-uppercase.main-form-title {
        font-family: 'Lato';
        font-size: 24px;
        font-weight: 900;

    }

    .main-form-title {
        color: $worbli-phase-color;
        font-size: 24px;
    }

    .main-form-content {
        margin-top: 26px;
    }
}

.footer-style {
    background-color: #ffffff;
    height: 150px;
    padding: 35px 75px 0 75px;
    border-top: 1px solid rgba(#BCC5E2, 0.5);

    .footer-text {
        font-size: 14px;
    }

    .footer-link {
        font-size: 14px;
        text-decoration: underline;
        color: $worbli-primary-color;
    }

    .footer-social {
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        margin-left: auto;
        font-size: 22px;
        i {
            color: $worbli-red-color;
            &:hover {
                color: $worbli-primary-color;
            }
        }
    }
}

.team-style {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 75px;

    .team-title {
        color: $worbli-primary-text-color;
        font-size: 26px;
        line-height: 90px;
    }

    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .team-item {
        background-color: $worbli-item-color;
        cursor: pointer;
        border-radius: 4px;
        max-width: 320px;
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        &:hover {
            background-color: $worbli-primary-color;
            .team-item-name {
                color: #ffffff;
            }

            .team-item-position {
                color: $worbli-light-hover-color;
            }

            .team-item-social {
                i {
                    color: $worbli-hover-color;
                }
            }
        }

        .team-item-photo {
            width: 120px;
            height: 120px;
            margin: 4px 0;
        }

        .team-item-name {
            font-size: 20px;
            color: $worbli-primary-color;
            margin: 4px 0;
        }

        .team-item-position {
            font-size: 14px;
            color: $worbli-grey-text-color;
            margin: 4px 0;
        }

        .team-item-social {
            font-size: 22px;
            margin: 4px 0;
            i {
                color: $worbli-grey-social-color;
            }
        }
    }
}

.title-text {
    font-size: 44px;
    font-weight: 900;
    color: $worbli-primary-text-color;
    border-bottom: 5px solid $worbli-title-border-color;
}

.future-style {
    width: 100%;
    height: 300px;
    border-top: 1px solid rgba(#BCC5E2, 0.5);

    .future-text {
        text-align: center;
        margin: 72px auto 0 auto;
        max-width: 840px;
        font-size: 60px;
        color: $worbli-primary-color;
    }
}

.roadmap-style {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 75px;

    .roadmap-list {
        margin: 20px 0;
    }

    .roadmap-item {
        border-left: 2px solid $worbli-title-border-color;

        .roadmap-item-circle {
            width: 50px;
            height: 50px;
            position: relative;
            top: 0px;
            left: -26px;
            background-color: #ffffff;
        }

        i.fa-check-circle {
            padding: 10px;
            font-size: 30px;
            color: $worbli-title-border-color;
            background-color: #ffffff;
        }

        i.fa-circle {
            padding: 10px;
            font-size: 30px;
            color: $worbli-title-border-color;
            background-color: #ffffff;
        }

        &:nth-last-child(1) {
            border-left: none;
        }
    }

    .roadmap-phase {
        font-size: 36px;
        color: $worbli-phase-color;
        line-height: 30px;
        font-weight: 700;
    }

    .roadmap-quarter {
        font-size: 24px;
        color: $worbli-phase-color;
        font-weight: 700;
    }

    .roadmap-text {
        color: $worbli-grey-text-color;
        padding: 15px 0;
        li {
            font-size: 16px;
            padding: 4px 0;
        }
    }
}

.aboutus-style {
    padding-top: 40px;

    .aboutus-subtitle {
        font-family: 'Open Sans';
        display: inline-block;
        color: $worbli-grey-text-color;
        font-size: 20px;
        padding: 10px 0 50px 0;
    }

    .aboutus-video {
        max-height: 300px;
    }

    .aboutus-vision {
        background-color: $worbli-item-color;
        min-height: 480px;
    }

    .aboutus-vision-title {
        color: $worbli-primary-text-color;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .aboutus-vision-text {
        color: $worbli-grey-text-color;
        font-family: 'Open Sans';
        font-size: 16px;
    }

    .aboutus-grey-bg {
        background-color: $worbli-item-color;
    }

    .aboutus-belif {
        padding: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .aboutus-intro {
        padding: 100px 0;
    }

    .aboutus-intro-title {
        color: $worbli-primary-text-color;
        font-size: 20px;
        margin-top: 24px;
        font-weight: 700;
    }

    .aboutus-intro-item {
        background-color: $worbli-item-color;
        height: 100px;
        min-width: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $worbli-primary-text-color;
        font-size: 20px;
        margin-top: 25px;
        font-weight: 700;
    }

    .aboutus-keys {
        padding: 120px;
    }

    .aboutus-key {
        img {
            width: 36px;
            height: 36px;
        }
    }

    .aboutus-key-title {
        color: $worbli-primary-color;
        font-size: 18px;
        padding: 8px 0;
    }

    .aboutus-key-text {
        color: $worbli-grey-text-color;
        font-size: 16px;
        font-family: 'Open Sans';
        padding-bottom: 40px;
    }

}

.modal-dialog {

    .modal-content {

        .modal-header {
            padding: 20px 20px 0 20px;
            border: none;

            .close.back {
                margin-left: 0px;
                padding-left: 0px;
            }
        }

        .modal-body {
            padding: 0px 40px 40px 40px;

            .modal-worbli-title {
                color: $worbli-primary-text-color;
                font-size: 26px;
            }

            .form-control::placeholder {
                font-weight: 300;
                color: $worbli-grey-social-color;
            }

            a {
                color: $worbli-primary-color;
            }

            p {
                color: $worbli-grey-text-color;
                font-size: 16px;
            }

            label {
                font-size: 14px;
                color: $worbli-grey-social-color;
            }

            small {
                color: $worbli-grey-social-color !important;
                margin: 15px 0;
            }

            ol {
                list-style: none;
                counter-reset: item;
                padding: 0;
            }
            li {
                counter-increment: item;
                margin-bottom: 5px;
                color: $worbli-grey-text-color;
                font-size: 16px;
                position: relative;
                padding: 10px 0 10px 25px;
            }
            li:before {
                margin-right: 10px;
                content: counter(item);
                background: $worbli-title-border-color;
                border-radius: 100%;
                color: #ffffff;
                width: 24px;
                font-size: 16px;
                text-align: center;
                display: inline-block;
                position: fixed;
                left: 35px;
            }

            .team-person {
                display: flex;
                align-items: center;

                .team-item-photo {
                    width: 120px;
                    height: 120px;
                    margin-right: 20px;
                }
                .team-item-name {
                    font-size: 20px;
                    color: $worbli-primary-color;
                    margin: 4px 0;
                }

                .team-item-position {
                    font-size: 14px;
                    color: $worbli-grey-text-color;
                    margin: 4px 0;
                }

                .team-item-social {
                    font-size: 22px;
                    margin: 4px 0;
                    i {
                        color: $worbli-grey-social-color;
                    }
                }

            }

        }

    }

}

.form-style-container {
    padding: 50px 0 150px 0;
}

.form-style {

    .form-style-title {
        color: $worbli-primary-text-color;
        font-size: 36px;
    }

    .form-control::placeholder {
        font-weight: 300;
        color: $worbli-grey-social-color;
    }

    p {
        color: $worbli-grey-text-color;
        font-size: 16px;
        a {
            color: $worbli-primary-color;
            text-decoration: underline;
        }
    }

    label {
        font-size: 14px;
        color: $worbli-grey-social-color;
    }

    small {
        color: $worbli-grey-social-color !important;
        margin: 15px 0;
        a {
            color: $worbli-grey-social-color;
            text-decoration: underline;
        }
    }

    .form-check-label {
        a {
            font-size: 14px;
            color: $worbli-grey-social-color;
            text-decoration: underline;
        }
    }

}

.user-menu-link {
    cursor: pointer;
    color: $worbli-grey-social-color;
    display: flex;
    align-items: center;
    i {
        margin-left: 10px;
    }
}

.user-menu {
    background-color: $worbli-main-color;
    padding: 10px 0px;
}

.user-menu-item {
    font-size: 14px;
    color: #ffffff;
    img {
        margin-left: 15px;
    }
}

.dashboard-style {
    padding-top: 40px;


    .dashboard-verify {
        background-color: $worbli-primary-color;
        padding: 5px 0 5px 20px;
        border-radius: 4px;
    }

    .dashboard-verify-text {
        color: #ffffff;
        font-size: 16px;
        line-height: 50px;
    }

    .dashboard-sharedrop {
        background-color: $worbli-item-color;
        padding: 5px 20px;
        border-radius: 4px;
    }

    .dashboard-inner-title {
        font-size: 20px;
        color: $worbli-primary-text-color;
        text-transform: uppercase;
    }

    .dashboard-label {
        color: $worbli-grey-social-color;
        font-size: 18px;
    }

    .dashboard-value {
        color: $worbli-primary-text-color;
        font-size: 18px;
    }

    .dashboard-questions-text {
        color: $worbli-grey-social-color;
        font-size: 14px;
    }

    .dashboard-link {
        color: $worbli-primary-text-color;
        font-size: 14px;
        text-decoration: underline;
    }

    .dashboard-doc {
        display: flex;

        i {
            margin-right: 15px;
            font-size: 30px;
            color: $worbli-title-border-color;
            &:hover {
                color: $worbli-title-border-color;
            }
        }
    }

    .dashboard-news {
        border-top: 1px solid $worbli-light-hover-color;
        padding: 20px 0;
        display: flex;
        align-items: center;
    }

    .dashboard-news-img {
        width: 80px;
        height: 70px;
        margin-right: 20px;
    }

    .dashboard-news-text {
        color: $worbli-primary-text-color;
        font-size: 18px;
    }

    .dashboard-sharedrop-pad {
        margin: 20px 0;
    }

    .dashboard-row {
        padding: 0 20px;
    }

}
