<div class="aboutus-style">
    <div class="row">
        <div class="col text-center">
            <div class="aboutus-vision-title">
                {{ aboutConfig['about_title'] || '' }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <div class="aboutus-vision-title">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="text-center">
                <span class="aboutus-subtitle">
                    {{ aboutConfig['about_text'] || '' }}
                </span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center aboutus-video" *ngIf="aboutConfig['about_link']">
        <div class="col-5">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" [src]="aboutConfig['about_link']" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center aboutus-vision">
        <div class="col-5">
            <div class="text-center">
                <div class="aboutus-vision-title">
                    {{ aboutConfig['our_title'] || '' }}
                </div>
                <div class="aboutus-vision-text">
                    {{ aboutConfig['our_text'] || '' }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="assets/img/ourbelif1.png" class="img-fluid">
                </div>
                <div class="col-6">
                    <div class="aboutus-belif">
                        <div class="aboutus-vision-title">
                            {{ aboutConfig['block1_title'] || '' }}
                        </div>
                        <div class="aboutus-vision-text">
                            {{ aboutConfig['block1_text'] || '' }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row aboutus-grey-bg">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="aboutus-belif">
                        <div class="aboutus-vision-title">
                            {{ aboutConfig['block2_title'] || '' }}
                        </div>
                        <div class="aboutus-vision-text">
                            {{ aboutConfig['block2_text'] || '' }}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <img src="assets/img/ourbelif2.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="row aboutus-intro">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="aboutus-vision-title">
                        An Introduction To WORBLI
                    </div>
                </div>
            </div>
            <div class="row aboutus-vision-text">
                <div class="col-6">
                    <p>With First Mover Advantage as a Forked EOS Chain for decentralised FinTech Applications, Worbli
                        is a
                        FinTech Platform designed to structurally:</p>

                    <p>1. Reduce friction</p>
                    <p>2. Provide exponential scale and reach</p>
                    <p>3. Develop and innovate products only possible as a result of Blockchain technology</p>

                    <p>WORBLI is a financial services network (FSN) where enterprises and individuals can access a broad
                        range of services. Our blockchain ecosystem leverages EOSIO software and is capable of hosting a
                        variety of decentralized applications (dApps) focused on financial innovation, security,
                        reliability</p>
                    and compliance.
                </div>
                <div class="col-6">
                    <p>We offer a fully transparent network that focuses on fintech products and applications for
                        consumers, SMEs and institutions.</p>

                    <p>WORBLI is creating a globally compliant framework meeting the regulatory needs of those wanting
                        to
                        develop and deploy their own products, services and/or applications on the WORBLI FSN.</p>

                    <p>WORBLI with its partners will itself, seed and launch the Gamma Bank, a ‘Fiat and Digital
                        Currency’
                        Bank providing checking accounts, debit cards and trading. Designed to eliminate the barriers of
                        entry into the digital currency and technology market for the average user, Gamma Bank will
                        facilitate the safe storage, transactions and exchanges of digital assets/img and fiat
                        currencies.</p>

                    <p>A strong monetary system, and governance aligning all stakeholders so as to proportionately
                        benefit
                        from prosperity in the Ecosystem.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="aboutus-intro-title">
                        {{ aboutConfig['typical_application_title'] || '' }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="aboutus-intro-item">
                        Personal<br>
                        Finance
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Investments
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Wallets<br>
                        Insurance
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Enterprise<br>
                        Tools
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Crowdfunding
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Superannuation
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Enterprise<br>
                        Banking
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Lending<br>
                        Services
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Equity<br>
                        Finance
                    </div>
                </div>
                <div class="col">
                    <div class="aboutus-intro-item">
                        Charitable<br>
                        Donations
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row aboutus-grey-bg aboutus-keys">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_compliant.svg">
                        <div class="aboutus-key-title">{{ aboutConfig['feature_title'] || '' }}</div>
                        <div class="aboutus-key-text">
                            {{ aboutConfig['feature_sub_title'] || '' }}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_secure.svg">
                        <div class="aboutus-key-title">Security</div>
                        <div class="aboutus-key-text">
                            Individual accounts and customers wallets cannot be hacked or altered.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_reliable.svg">
                        <div class="aboutus-key-title">Tamper-proof transactions</div>
                        <div class="aboutus-key-text">
                            No one can alter the transaction ledger. The ledger is immutable.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_decentralization.svg">
                        <div class="aboutus-key-title">Decentralization</div>
                        <div class="aboutus-key-text">
                            There is no central authority for transaction approval. The transactions are peer-to-peer with the Blockchain verifying transactions.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_speed.svg">
                        <div class="aboutus-key-title">Speed of transactions</div>
                        <div class="aboutus-key-text">
                            Peer-to-peer token transfers and traditional financial transactions transfer in seconds.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_blockchain.svg">
                        <div class="aboutus-key-title">Finance focused Blockchains</div>
                        <div class="aboutus-key-text">
                            The network governance is designed to meet the regulatory needs of global financial services and financial technology businesses.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_recovery.svg">
                        <div class="aboutus-key-title">Account Recovery</div>
                        <div class="aboutus-key-text">
                            Provided for all customers. Customer accounts are recoverable if private keys are lost.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_startup.svg">
                        <div class="aboutus-key-title">Startup friendly</div>
                        <div class="aboutus-key-text">
                            Startups will benefit from exchange listing and merchant processing services to easily launch and fund their projects.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_infrastructure.svg">
                        <div class="aboutus-key-title">Superior infrastructure</div>
                        <div class="aboutus-key-text">
                            Leveraging our own independent EOS blockchain with features such as built-in developer tools and feeless, reversible transactions.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_community.svg">
                        <div class="aboutus-key-title">Strong community support</div>
                        <div class="aboutus-key-text">
                            With solid connections to the EOS network, we have mutual support from many EOS entities and communities such as block producers and advisors.
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="aboutus-key">
                        <img src="assets/img/i_enterprise.svg">
                        <div class="aboutus-key-title">Optimized for enterprise</div>
                        <div class="aboutus-key-text">
                            Businesses and corporations will benefit from predictable pricing models when planning to operate on the network.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>