<div class="form-style form-style-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="form-style-title">
                    Change password
                </div>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label for="id_old_password">Old password</label>
                        <input type="password" class="form-control" id="id_old_password" formControlName="old_password" required>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1">New password</label>
                        <input type="password" class="form-control" id="id_new_password1" formControlName="new_password1" required>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password2">Confirm password</label>
                        <input type="password" class="form-control" id="id_new_password2" formControlName="new_password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">CHANGE</button>
                </form>
            </div>
        </div>
    </div>
</div>