<div class="form-style form-style-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-style-title">
                        Sign Up
                    </div>
                    <p>
                        To get access to Worbli and the Airdrop you need to provide your full name and the country of residence.
                    </p>
                    <p>The password will give you the ability to login onto the Worbli platform.</p>
                    <div class="form-group">
                        <label for="id_first_name">First Name</label>
                        <input type="text" class="form-control" id="id_first_name" placeholder="First name"  formControlName="first_name" required />
                    </div>
                    <div class="form-group">
                        <label for="id_last_name">Last Name</label>
                        <input type="text" class="form-control" id="id_last_name" placeholder="Last name"  formControlName="last_name" required />
                    </div>
                    <!--div class="form-group">
                        <label for="id_country">Country of residence</label>
                        <select class="form-control" id="id_country" formControlName="country" required>
                            <option>United States of America</option>
                            <option>United States of America</option>
                            <option>United States of America</option>
                            <option>United States of America</option>
                        </select>
                    </div-->
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input type="password" class="form-control" id="id_password" placeholder="Password"  formControlName="password" required />
                    </div>
                    <div class="form-group">
                        <label for="id_password_confirm">Confirm Password</label>
                        <input type="password" class="form-control" id="id_password_confirm" placeholder="Password confirm"  formControlName="password_confirm" required />
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" formControlName="have_eos_account">
                            I have an EOS account <i class="fas fa-question-circle"></i>
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" formControlName="is_agree">
                            I agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">SING UP</button>
                </form>
            </div>
        </div>
    </div>
</div>